@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    margin: 0;
    height: 100%;
}

body {
    min-height: 300px;
}

app-root {
    height: 100%;
    font-family: "Open Sans", sans-serif, Calibri, Arial;
    font-size: 14px;
    display: block;
}

app-module {
    height: 100%;
    display: block;
}
