.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
}

.form {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 500px;
}

.input {
    width: 100%;
}
