.container {
    display: grid;
    grid-template-rows: 90vh;
}

.form {
    display: grid;
    align-self: center;
    justify-self: center;
    min-width: 400px;
    max-width: 500px;
}

.input {
    width: 100%;
}

app-footer {
    display: none;
}
